<% if current_user %>
<% provide(:title, @user.email) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">

          <h1>Dashboard</h1>
          <div class="row">
            <div class="col-md-6">
              <h3><%= @user.name unless @user.name.blank? %></h3>
              <h2 style="margin: 4px"><b><%= @user.email %></b></h2>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <center><h3><%= @user.posts.count %><br>
              <b><small>Posts</small></b></h3></center>
            </div>
            <div class="col-md-4">
              <center><h3><%= time_ago_in_words(@user.created_at.to_time) %><br>
              <b><small>Age</small></b></h3></center>
            </div>
            <div class="col-md-4">
              <center><h3>
                <% if @user.role == "admin" %>Administrator<br>
                <% elsif @user.role == "instructor" %>Instructor<br> 
                <% else %>Student<br>
                <% end %>
              <b><small>Role</small></b></h3></center>
            </div>
          </div>
          <hr>

          <center><h3>My Favorites:</h3></center><hr><br>
          <ul class="nav nav-tabs">
            <li class="active"> <a href="#course" data-target="#course" data-toggle="tab">Courses</a>
            </li>
              <li><a href="#post" data-target="#post" data-toggle="tab">Posts</a>
              </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active fade in" id="course"><br>
              <% @courses.each do |course| %>
                <%= link_to(course, :class => "list-group-item") do %>
                  <h4 class="list-group-item-heading">
                    <%= course.title %>
                  </h4>
                <% end %>
              <% end %>
            </div>

            <div class="tab-pane" id="posts"><br>
            </div>
          </div>

          <% if current_user.role == "admin" %>
            <center><h3>Manage Role:</h3></center><hr><br>
            <%= form_for @user do |f| %>
            <%= f.label :role %>
            <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>

              <span class="pull-left"><%= f.submit "Submit Role", class: "btn btn-medium btn-primary" %></span>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<% end %>