<% provide(:title, 'All Departments') %>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
      <h1>All Departments:</h1>

      <ul class="nav nav-tabs">
        <li class="active"> <a href="#departments" data-target="#departments" data-toggle="tab">Departments</a>
        </li>
        <% if current_user && (can? :create, Department) %>
          <li><a href="#createdepartment" data-target="#createdepartment" data-toggle="tab">Create Department</a>
          </li>
        <% end %>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active fade in" id="departments"><br>
          <% @departments.alph.each do |department| %>
            <%= link_to(department, :class => "list-group-item") do %>
              <h4 class="list-group-item-heading">
                <%= department.subject %> - <%= department.title %><span class="badge pull-right"><%= department.courses.count %> Courses</span>
              </h4>
            <% end %>
          <% end %>
        </div>

      <% if current_user && (can? :create, Department) %>
        <div class="tab-pane" id="createdepartment"><br>
          <center><h3>Create Department:</h3></center>
            <%= render "departments/form" %>
          </div>
        <% end %>

      </div>
    
      </div>
    </div>
  </div>
</div>
