<% provide(:title, '#{@course.title}') %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-transparent">
      <div class="panel-body">

        <div id="titlesection">
          <% if current_user && current_user.admin_or_instr? %>
            <div id="editlink" class="pull-left">
              <%= button_to([:edit, @course], method: "get", class: 'btn btn-default btn-link btn-xs') do %>
                <span class="glyphicon glyphicon-edit"></span> Edit <%= @course.title %>
              <% end %>
            </div><br>
          <% end %>

          <div id="editlink" class="pull-left">
            <%= button_to(@department, method: "get", class: 'btn btn-default btn-link btn-xs') do %>
              <span class="glyphicon glyphicon-chevron-left"></span> Back to <%= @department.title %>
            <% end %>
          </div>

          <% if current_user %>
            <% unless current_user.favorite_courses.exists?(id: @course.id) %>
              <%= button_to(favorites_path(course_id: @course), method: :post, class: 'btn btn-default btn-link btn-xs') do %>
                <span class="glyphicon glyphicon-heart-empty"></span> Favorite
              <% end %>
            <% else %>
              <%= button_to(favorite_path(course_id: @course), method: :delete, class: 'btn btn-default btn-link btn-xs') do %>
                <span class="glyphicon glyphicon-heart"></span> Unfavorite
              <% end %>
            <% end %>
          <% end %>

          <div class="smalltext" style="position: absolute; top: 8px; right: 26px; width: 200px; text-align:right"><p><span class="glyphicon glyphicon-time"></span> <%= time_ago_in_words(@course.updated_at.to_time) unless @course.updated_at.blank? %></p>
          </div>

          <h1><b><%= @course.title %></b><br>
            <h4><%= @course.description %></h4>
          </h1>
        </div>

        <ul class="nav nav-tabs">
          <li><a href="#info" data-target="#info" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span> Info</a>
          </li>
          <li class="active"><a href="#posts" data-target="#posts" data-toggle="tab"><span class="badge"><%= @course.posts.count %></span> Posts</a>
          </li>
          <% if current_user %>
          <li><a href="#createpost" data-target="#createpost" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span> Create Post</a>
          <% end %>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active fade in" id="posts"><br>
        		<center><h3>Course Posts:</h3></center>
            <%= render "posts/posts" %>
        	</div>

          <div class="tab-pane" id="info"><br>
            <center><h3>Course Info:</h3></center>
            <%= @course.info.try(:html_safe) %>
          </div>

        	<div class="tab-pane" id="createpost"><br>
            <%= render "posts/form" %>
        	</div>   
        </div> 	

      </div>
    </div>
  </div>
</div>
