<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="panel panel-transparent">
      <div class="panel-body">
				<h2>Forgot your password?</h2>

				<div class="row">
				  <div class="col-md-6 col-md-offset-3">
					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					  <%= devise_error_messages! %>

					  <%= f.label :email %>
					  <%= f.email_field :email, autofocus: true, class: "form-control" %>

					  <span class="pull-left">
					  	<%= f.submit "Send me reset password instructions", class: "btn btn-large btn-primary"  %>
					  </span>
					<% end %>
				</div>
				</div>
				<br>
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>
