<% if current_user %>
<%= render "posts/wysihtml5" %>
<center><h3>Create New Post:</h3></center>

  <%= form_for [@postable, Post.new] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :description %>
    <%= f.text_area :description, :rows => 3, class: "form-control" %>

	  <%= f.text_area :content, :rows => 5, placeholder: 'Enter Content Here', class: "wysihtml5" %>

	  <span class="pull-left"><%= f.submit "Create Post", class: "btn btn-medium btn-primary" %></span>
  <% end %>
  <% end %>


