<%= render "posts/wysihtml5" %>
<center><h3>Posts:</h3></center>
  <div id="posts">
  <% for post in @posts %>
    <div class="post">
      <h4 class="list-group-item-heading">
        <%= post.title %>
      </h4>
      <%=simple_format post.content %>
    </div>
  <% end %>
  </div>


<center><h3>Create New Post:</h3></center>

  <%= form_for [@postable, Post.new] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :description %>
    <%= f.text_area :description, :rows => 3, class: "form-control" %>

	  <%= f.text_area :content, :rows => 5, placeholder: 'Enter Content Here', class: "wysihtml5" %>

	  <span class="pull-left"><%= f.submit "Create Post", class: "btn btn-medium btn-primary" %></span>
  <% end %>


