<div class="panel-group" id="accordion">
  <% @posts.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= post.title.gsub(/\s+/, "") %>">
            <%= post.title.capitalize %> - <small><%= post.description.capitalize %></small>
          </a>
        </h4>
      </div>
      <div id="collapse<%= post.title.gsub(/\s+/, "") %>" class="accordian-body collapse in">
        <div id="postbody" class="accordian-inner">
          <%= post.content.try(:html_safe) %>
        </div>
        <% if current_user && ((post.user == current_user) || (current_user.role == "admin")) %> 
          <div class="panel-footer">
            <span class="pull-left">
            <% if @postable == "Department" %> 
              <%= button_to(edit_department_post_path(id: post.id), :method => "get", :class => 'btn btn-default btn-link btn-xs') do %>
              <span class="glyphicon glyphicon-pencil"><span class="buttontext">Edit</span></span>
              <% end %>
            <% else %>
              <%= button_to(edit_department_post_path(@postable.id, id: post.id), :method => "get", :class => 'btn btn-default btn-link btn-xs') do %>
              <span class="glyphicon glyphicon-pencil"><span class="buttontext">Edit</span></span>
              <% end %>
            <% end %>  
            </span>
            <br>
          </div>

        <% end %>
      </div>
    </div>
  <% end %>
</div>

