<% if @post.user == current_user || current_user.admin_or_instr? %>
<%= render "posts/wysihtml5" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-transparent">
        <div class="panel-body">
          <h1><b>Editing: </b><%= @post.title %></h1>
          <hr><br>
     			<%= form_for [@postable, @post] do |f| %>

          		<%= f.label :title %>
          		<%= f.text_field :title, class: "form-control" %>

          		<%= f.label :description %>
          		<%= f.text_area :description, :rows => 3, class: "form-control" %>

              <%= f.label :content %>
              <%= f.text_area :content, :rows => 10, class: "wysihtml5" %>

          		<span class="pull-left"><%= f.submit "Save Changes", class: "btn btn-large btn-primary" %></span>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Delete this Post forever:</h3>
      		<span class="pull-left"><%= button_to('Delete Post', { action: "destroy", id: @post.id },
          method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' }, class: "btn btn-large btn-danger") %></span>
        </div>
      </div>
		</div>
	</div>
</div>

<% else %>
<div class="panel panel-transparent">
  <div class="panel-body">
    <center><h1>You do not have permission to access this page</h1>
    <h2>Please login to access your Posts</h2></center>
  </div>
</div>
<% end %>



