<% provide(:title, "Edit user") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>Edit <%= resource_name.to_s.humanize %></h1>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>

            <%= f.label :name %> <i>(Optional)</i>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>

            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>

            <span class="pull-left">
                <%= f.submit "Update", class: "btn btn-large btn-primary" %>
            </span>
          <% end %>
        </div>
      </div>

      <center><h3>Cancel Account</h3></center>
      <div class="panel panel-default">
        <div class="panel-body">
            <p>Unhappy? We'll miss you... </p><span class="pull-left"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-large btn-danger"%>

            <br><%= link_to "Back", :back %>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>

